
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User add form</title>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body class="container">
<h1>Heyy</h1>

    <a class="col-lg-1 btn btn-warning text-center" href="/company/sign-up">"Sign up as company"</a>
    <br>
    <a class="col-lg-1 btn btn-warning text-center" href="/user/sign-up">"Sign up as client"</a>

</body>
</html>
